<div class="d-flex justify-content-between align-items-center mt-4 p-3">
  <h1>Lista Corsi</h1>
  <div>
  <button class="btn btn-success rounded me-2" routerLink="/corsi/search-corso">Cerca corso</button>
  <button class="btn btn-primary rounded" (click)="openDialog()">Aggiungi Corso</button>
</div>
</div>
<div class="mt-2 p-3">
<div class="container-fluid  p-0 rounded-3 overflow-hidden">
  <table class="table table-bordered table-hover table-striped table-primary m-0">
    <thead class="table-dark">

    <tr>

      <th>Nome</th>
      <th>Data Inizio</th>
      <th>Durata</th>
      <th>Docente</th>
    </tr>

    </thead>
    <tbody>
      @for(corso of corsiFiltrati();track corso.id){
        <tr class="corso" [routerLink]="['/corsi','corso',corso.id]">



          <td>{{corso.nome}}</td>
          <td>{{corso.data_inizio | date:'dd/MM/yyyy'}}</td>
          <td>{{corso.durata}}</td>
          <td>@if(corso.docente!=null){{{corso.docente.cognome}}}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
</div>


