<div class="container mt-4">
  <div class="col rounded border border p-4 bg-light shadow-lg">
    <div class="row mb-3">
      <p class="mb-1"><strong>id:</strong> {{ studente().id }}</p>
    </div>
    <div class="row mb-3">
      <p class="mb-1"><strong>Nome:</strong> {{ studente().nome }}</p>
    </div>
    <div class="row mb-3">
      <p class="mb-1"><strong>Cognome:</strong> {{ studente().cognome }}</p>
    </div>
    <div class="row mb-3">
      <p class="mb-1"><strong>Matricola:</strong> {{ studente().matricola}}</p>
    </div>
    <div class="row mb-3">
      <p class="mb-1"><strong>Data di nascita:</strong> {{ studente().data_nascita | date:"dd/MM/yyyy"}}</p>
    </div>

    <div class="row mb-3">
      <p class="mb-1"><strong>Corsi:</strong></p>
      <ul class="list-group">
        @for (corso of studente().corsi; track corso.id)
        {
          <li class="list-group-item">{{ corso.nome }}</li>
        }
      </ul>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col d-flex justify-content-between">
      <button type="button" class="btn btn-secondary rounded" (click)="onBack()">Indietro</button>
      <button class="btn btn-danger rounded" type="button" (click)="onDelete(studente())">Elimina</button>
      <button class="btn btn-warning rounded" (click)="openRemoveDialog()">Rimuovi corso</button>
      <button class="btn btn-success rounded" (click)="openAddDialog()">Iscrivi a corso</button>
      <button class="btn btn-primary rounded" (click)="openDialog()">Modifica Studente</button>
    </div>
  </div>
</div>

  <dialog #addDialog class="modal-lg">
    <form (ngSubmit)="addCorso()" class="p-4 border rounded shadow-lg bg-light">
    <div class="mb-4">
      <label for="corso" class="form-label">Corsi Disponibili</label>
      <select id="corso" class="form-control form-select" [(ngModel)]="corso" name="docente"   required>
        @for(corso of corsiNonSeguiti();track corso.id){
          <option [ngValue]="corso">{{corso.nome}}</option>
        }
      </select>
    </div>
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Iscrivi</button>
        <button type="button" class="btn btn-secondary" (click)="closeAddDialog()">Annulla</button>
      </div>
    </form>
  </dialog>

<dialog #removeDialog class="modal-lg">
  <form (ngSubmit)="removeCorso()" class="p-4 border rounded shadow-lg bg-light">
    <div class="mb-4">
      <label for="corso2" class="form-label">Corsi Seguiti</label>
      <select id="corso2" class="form-control form-select" [(ngModel)]="corso" name="docente"   required>
        @for(corso of studente().corsi;track corso.id){
          <option [ngValue]="corso">{{corso.nome}}</option>
        }
      </select>
    </div>
    <div class="d-flex justify-content-between">
      <button type="submit" class="btn btn-primary">Rimuovi</button>
      <button type="button" class="btn btn-secondary" (click)="closeRemoveDialog()">Annulla</button>
    </div>
  </form>
</dialog>

