<div class="d-flex justify-content-between align-items-center mt-4 p-3">
  <h1>Lista Studenti</h1>
  <button class="btn btn-primary rounded" (click)="openDialog()">Aggiungi Studente</button>
</div>
<div class="mt-2 p-3">
<div class="container-fluid   rounded-3 overflow-hidden p-0">
  <table class="table table-bordered table-hover table-striped table-primary m-0">
    <thead class="table-dark">
    <tr>
      <th colspan="5">
        <input id="cercaStudente" type="text" class="form-control" placeholder="Cerca Studente..." [(ngModel)]="studenteCercato" (ngModelChange)="searchStudente()"/>
      </th>
    </tr>
    <tr>
      <th>Nome</th>
      <th>Cognome</th>
      <th>Matricola</th>
      <th>Data di Nascita</th>
    </tr>

    </thead>
    <tbody>
      @for(studente of studentiFiltrati();track studente.id){
        <tr class="studente" [routerLink]="['/studenti','studente',studente.id]">



          <td>{{studente.nome}}</td>
          <td>{{studente.cognome}}</td>
          <td>{{studente.matricola}}</td>
          <td>{{studente.data_nascita | date:"dd/MM/yyyy"}}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
</div>



