<div class="container mt-4" >
<form #form=ngForm (ngSubmit)="onSubmit(form)" class="p-4 border rounded shadow-lg bg-light">
  <h3 class="text-center mb-4">Aggiungi Studente</h3>

  <div class="mb-3">
    <label for="nome">NomeStudente</label>
    <input id="nome" type="text" class="form-control" [(ngModel)]="newStudente().nome" name="nome" placeholder="Inserisci Nome" required>
  </div>

  <div class="mb-3">
    <label for="cognome">CognomeStudente</label>
    <input id="cognome" type="text" class="form-control" [(ngModel)]="newStudente().cognome" name="cognome" placeholder="Inserisci Cognome" required>
  </div>

  <div class="mb-3">
    <label for="matricola">Matricola</label>
    <input id="matricola" type="text" class="form-control" [(ngModel)]="newStudente().matricola" name="matricola" placeholder="Inserisci Matricola" required>
  </div>

  <div class="mb-3">
    <label for="data_nascita">Data di nascita</label>
    <input id="data_nascita" type="date" class="form-control" [(ngModel)]="newStudente().data_nascita" name="data_nascita" placeholder="Inserisci Data di Nascita" required>
  </div>

  @if(form.submitted && !form.valid) {
    <div class="alert alert-danger mt-3" role="alert">
      Compila tutti i campi obbligatori, per favore.
    </div>
  }
  <div class="d-flex justify-content-between">
  <button type="submit" class="btn btn-primary">Aggiungi</button>
  <button type="button" class="btn btn-secondary" (click)="onBack()">Indietro</button>
</div>
</form>
</div>

