
<form #form=ngForm (ngSubmit)="onSubmit(form)">
  <p>Modifica {{docente().nome+" "+docente().cognome}}</p>
  <div>
    <label for="nome">Nome</label>
    <input id="nome" type="text" [(ngModel)]="upDocente().nome" name="nome" />
  </div>
  <div>
    <label for="cognome">Cognome</label>
    <input id="cognome" type="text" [(ngModel)]="upDocente().cognome" name="cognome" required />
  </div>
  <div>
    <button type="submit">Modifica</button>
    <button type="button" (click)="onBack()">Annulla</button>
  </div>
  @if(form.submitted && !form.valid){
    <div>
      <p>Riempi tutto bro</p>
    </div>
  }
</form>

