<div class="row ">
<div class="col  btn btn-lg ">
  <button routerLink="/" class=" w-75 py-2 rounded d-block text-center">Home</button>
</div>
<div class="col btn btn-lg">
  <button routerLink="/corsi" class=" w-75  py-2 rounded d-block text-center">Corsi</button>
</div>
  <div class="col btn btn-lg">
  <button routerLink="/studenti" class="w-75 py-2 rounded d-block text-center">Studenti</button>
  </div>
    <div class="col btn btn-lg">
  <button routerLink="/docenti" class="w-75 py-2 rounded d-block text-center">Docenti</button>
    </div>
</div>


<router-outlet/>
