<div class="row " style="height: 50px">
<div class="col-md-3 col-sm-6 col-12 d-flex justify-content-center align-items-center " >
  <button id="home" [ngClass]="{'active':isActive==='home'}" (click)="onClick('home')" routerLink="/" class="w-100 h-100  rounded d-block text-center">Home</button>
</div>
<div class="col-md-3 col-sm-6 col-12 d-flex justify-content-center align-items-center ">
  <button id="corsi" [ngClass]="{'active':isActive==='corsi'}" (click)="onClick('corsi')" routerLink="/corsi" class="w-100 h-100 rounded d-block text-center">Corsi</button>
</div>
  <div class="col-md-3 col-sm-6 col-12 d-flex justify-content-center align-items-center">
  <button id="studenti" [ngClass]="{'active':isActive==='studenti'}" (click)="onClick('studenti')" routerLink="/studenti" class="w-100 h-100 rounded d-block text-center">Studenti</button>
  </div>
    <div class="col-md-3 col-sm-6 col-12  d-flex justify-content-center align-items-center">
  <button id="docenti" [ngClass]="{'active':isActive==='docenti'}" (click)="onClick('docenti')" routerLink="/docenti" class="w-100 h-100 rounded d-block text-center">Docenti</button>
    </div>
</div>


<router-outlet/>
