
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img src="https://web.uniroma1.it/fac_smfn/sites/default/files/logo-sapienza.jpg" alt="Logo"  width="50" height="50" class="d-inline-block align-text-top img-fluid rounded-pill">
    </a>
    <a class="navbar-brand" routerLink="/home">Università</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" routerLink="/docenti">Docenti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/corsi" >Corsi</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/studenti">Studenti</a>
        </li>
      </ul>
      <div class="ms-auto">
        <button class="btn" (click)="logout()">
          <a class="navbar-brand">

         <img src="https://static.vecteezy.com/ti/vettori-gratis/p1/6693054-vettore-icona-modello-logout-colore-nero-modificabile-icona-log-out-simbolo-piatto-illustrazione-per-grafica-e-web-design-gratuito-vettoriale.jpg" alt="Logout" class="d-inline-block img-fluid rounded" width="50" height="50">

          </a>
        </button>
      </div>
    </div>
  </div>
</nav>

<router-outlet/>
