<div id='card' class="col rounded border border">
  <div class="row">
    <p><strong>&nbsp;id:</strong> {{ corso().id }}</p>
  </div>
  <div class="row">
    <p><strong>&nbsp;nome:</strong> {{ corso().nome }}</p>
  </div>
  <div class="row">
    <p> <strong>&nbsp;data:</strong> {{ corso().data_inizio}}</p>
  </div>
  <div class="row">
    <p> <strong>&nbsp;durata:</strong> {{ corso().durata}}</p>
  </div>
  <div class="row">
    <p> <strong>&nbsp;docente:</strong>
      @if(corso().docente!=null){
      {{ corso().docente.nome+" "+corso().docente.cognome}}}</p>
  </div>
  <div class="row">

    <p> <strong>&nbsp;studenti:</strong>
    <span>
      <ul>
      @for(studente of corso().discenti;track studente.id){
       <li> {{ studente.matricola+" "+studente.nome+" "+studente.cognome}}</li>
      }
    </ul>
    </span>
    </p>
  </div>

  </div>
<div class="col">
  <button (click)="onBack()">Indietro</button>
</div>
  <div class="col">
  <button type="button" (click)="onDelete(corso())">Elimina</button>
  </div>
    <div class="col">
      <button [routerLink]=" ['up-corso'] ">Modifica Corso</button>
    </div>
<router-outlet/>
