dialog {
  border: 2px solid lightgray;
  border-radius: 15px;
  padding: 20px;
}
header img {
  max-width: 50%;
  height: auto; /* Mantiene le proporzioni dell'immagine */
  display: block;
  margin: 50px auto; /* Centra l'immagine */
  padding: 50px;
}

