<div class="rounded border">
  <header>
    <img src="https://www.scienzainrete.it/files/universit%C3%A0.jpg" alt="Descrizione dell'immagine">
  </header>
</div>
<div class="p-4 text-center">
  <h1 class="text-2xl font-bold mb-4">Dialog Nativo in Angular</h1>
  <button (click)="openDialog()" class="px-4 py-2 bg-blue-500 text-white rounded">Apri Dialog</button>
</div>
<div>
  <dialog #myDialog class="rounded-lg shadow-md p-6">
    <h2 class="text-xl font-semibold mb-4">Dialog Nativo</h2>
    <p class="mb-4">Vuoi chiudere questo dialog?</p>
    <button (click)="closeDialog()" class="px-4 py-2 bg-red-500 text-white rounded">Chiudi</button>
  </dialog>
</div>
